<mat-tab-group class="mat-elevation-z1 app-container" dynamicHeight
  [(selectedIndex)]="selectedTab"
  (selectedTabChange)=onSelectedTabChange($event)>

  <mat-tab label="{{tableTitle | localize}}">
    <div>
      <app-events-table
        [category]="category"
        [displayedColumns$]="displayedColumns$">
      </app-events-table>
    </div>
  </mat-tab>

  <mat-tab label="{{mapTitle | localize}}">
    <ng-template matTabContent>
      <app-events-map [category]="category">
      </app-events-map>
    </ng-template>
  </mat-tab>
</mat-tab-group>
