<mat-tab-group class="mat-elevation-z1 app-container" dynamicHeight
  [(selectedIndex)]="selectedTab"
  (selectedTabChange)=onSelectedTabChange($event)>
    <mat-tab label="{{'Difficulty' | localize}}">
      <ng-template matTabContent>
        <app-difficulty-chart>
        </app-difficulty-chart>
        <app-terms></app-terms>
      </ng-template>
    </mat-tab>

  <mat-tab label="{{'Players' | localize}}">
    <ng-template matTabContent>
      <app-total-players>
      </app-total-players>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{'Members' | localize}}">
    <ng-template matTabContent>
      <app-members-chart>
      </app-members-chart>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{'Annual Reports' | localize}}">
    <ng-template matTabContent>
      <app-annual-chart>
      </app-annual-chart>
    </ng-template>
  </mat-tab>
</mat-tab-group>
