<mat-tab-group class="mat-elevation-z2 app-container"
  [(selectedIndex)]="selectedTab"
  (selectedTabChange)=onSelectedTabChange($event)>
    <mat-tab label="{{'Difficulty' | localize}}">
      <ng-template matTabContent>
        <app-difficulty-chart>
        </app-difficulty-chart>
        <app-terms></app-terms>
      </ng-template>
    </mat-tab>

  <mat-tab label="{{'Anual Total Players' | localize}}">
    <ng-template matTabContent>
      <app-total-players>
      </app-total-players>
    </ng-template>
  </mat-tab>
</mat-tab-group>
