<div class="chart">
  <ngx-charts-line-chart
    [results]="chartSource"
    [view]="view"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [yAxisLabel]="yAxisLabel"
    [yScaleMax]="yScaleMax"
    [showYAxisLabel]="true"
    [legend]="true"
    [xAxis]="true"
    [yAxis]="true"
    >
  </ngx-charts-line-chart>
</div>
<div class="legend">
  <ul>
    <li>JPDGA会員数は非公式の数値です</li>
    <li>PDGA会員数は<a href="https://www.pdga.com/international/international-program-guide">PDGA国際プログラムガイド</a>の公表値です </li>
  </ul>
</div>
