.chart {
  height: 500px;
  user-select: none;
  margin: 10px 10px 50px 10px;
}

.legend {
  padding: 8px 8px;
}

table {
  table-layout: fixed;
  width: 100%;
}

caption {
  text-align: left;
}

td:first-child {
  width: 30px;
  text-align: right;
}

@media (max-width: 414px) {
  .chart {
    height: 400px;
  }

  .legend {
    font-size: small;
  }

  td:first-child {
    width: 20px;
  }
}