<div class="spinner" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="apiLoaded$ | async">
  <google-map id="googlemap"
              [height]="height"
              [width]="width"
              [center]="center"
              [zoom]="zoom"
              [options]="mapOptions"
              (tilesloaded)="onTilesloaded()">
    <map-marker *ngFor="let location of mapSource$ | async"
              [title]="location.title"
              [position]="location.position"
              (mapClick)="onMarkerClick($event)">
    </map-marker>
  </google-map>
</div>
