<div class="about-container">
  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>About this site</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="../../assets/img/fujikawa.jpg">
    <mat-card-content>
      <p *ngIf="primaryLanguage">
        DG Japan provides information of the Disc Golf tournaments held in Japan and the past events as well.
      </p>
      <p *ngIf="!primaryLanguage">
        DG Japanは日本で開催されるディスクゴルフ大会の情報を発信します。
        また過去大会のデータベースとしてもご利用ください。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="security-card">
    <mat-card-header>
      <mat-card-title>Security Policy</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>No Trucking</p>
      <p>No Database</p>
      <p>No Loging</p>
      <p>No Cookie</p>
      <p>No Personal Data</p>
      <p>No Commercial Advertisment</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Operation</mat-card-title>
    </mat-card-header>
    <div class="github-card-img">
      <img mat-card-image src="../../assets/img/github.svg">
      <h3>GitHub Pages</h3>
    </div>
    <mat-card-content>
      <p *ngIf="primaryLanguage">
        This website is running on the <a href="https://pages.github.com">GitHub Pages</a>.
      </p>
      <p *ngIf="!primaryLanguage">
        本サイトは GitHub が提供する
        <a href="https://pages.github.com">GitHub Pages</a>
        を利用して運用しています。
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="about-card">
    <mat-card-header>
      <mat-card-title>Open Sourse Project</mat-card-title>
    </mat-card-header>
    <div class="github-card-img">
      <img mat-card-image src="../../assets/img/github.svg">
      <h3>GitHub</h3>
    </div>
    <mat-card-content>
      <p *ngIf="primaryLanguage">
        This is an open source project and all of resouces and information are published on the
        <a href="https://github.com/jpdga-shizuoka/ssa-round-ratings">Github</a>.
      </p>
      <p *ngIf="!primaryLanguage">
        本サイトはオープンソースプロジェクトとして
        <a href="https://github.com/jpdga-shizuoka/ssa-round-ratings">Github</a>
        に公開されております。
      </p>
    </mat-card-content>
  </mat-card>
</div>
