h4 mat-icon {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  display: inline-block;
}
h4 mat-icon:hover {
  background-color: lightgray;
}
h4 mat-icon:active {
  background-color: lightgray;
}
h4 a {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
}
.about-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  justify-content: center;
}
.security-card,
.about-card {
  margin: 5px;
  overflow: hidden;
  max-width: 599px;
  width: 500px;
  flex-grow: 1;
  flex-shrink: 1;
  line-height: 1.4rem;
}
.security-card p,
.about-card p {
  text-align: center;
}
.security-card p {
  font-size: 1.2rem;
  margin: 10px 0;
}
.github-card-img img {
  display: block;
  margin: auto;
  width: 128px;
  padding: 10px 0 0 0;
}
.github-card-img h3 {
  text-align: center;
}
.terms-table {
  width: 100%;
}
.terms-table td {
  padding: 10px;
  border-color: collapse;
  border-bottom: 1px lightgray solid;
}
.terms-table td:first-child {
  font-weight: bold;
  min-width: 4rem;
  text-align: center;
}
.oss-table td:first-child {
  text-align: right;
}
