<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title>About this site</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="../../assets/img/fujikawa.jpg">
  <mat-card-content>
    <p>
      DG Japan provides information of the Disc Golf tournaments held in Japan and the past events as well.
    </p>
    <p>
      DG Japanは、主に日本ディスクゴルフ協会が主催するディスクゴルフ公式戦情報を発信します。
      また過去大会のデータベースとしてもご利用ください。
      <a href="https://github.com/jpdga-shizuoka/ssa-round-ratings/wiki">詳しくは...</a>
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title>Open Sourse Project</mat-card-title>
  </mat-card-header>
  <div class="github-card-img">
    <img mat-card-image src="../../assets/img/github.svg">
    <h3>GitHub</h3>
  </div>
  <mat-card-content>
    <p>
      This is an open source project and all of resouces and information are published on the
      <a href="https://github.com/jpdga-shizuoka/ssa-round-ratings">Github</a>.
    </p>
  </mat-card-content>
</mat-card>

<mat-card class="about-card">
  <mat-card-header>
    <mat-card-title>Operation</mat-card-title>
  </mat-card-header>
  <div class="github-card-img">
    <img mat-card-image src="../../assets/img/github.svg">
    <h3>GitHub Pages</h3>
  </div>
  <mat-card-content>
    <p>
      This website is running on the <a href="https://pages.github.com">GitHub Pages</a>.
    </p>
  </mat-card-content>
</mat-card>
