<div class="app-container">
  <section>
    <app-preface>
    </app-preface>
  </section>
  <div>
    <h4>
      <a routerLink="/events/upcoming"><mat-icon>events</mat-icon>{{'Schedule' | localize}}</a>
    </h4>
    <mat-tab-group class="mat-elevation-z2">
      <mat-tab label="{{'Official' | localize}}">
        <div>
          <app-events-table
            [showMore]="true"
            [limit]="3"
            [category]="'upcoming'"
            [displayedColumns$]="displayedColumnsUpcoming$">
          </app-events-table>
        </div>
      </mat-tab>
      <mat-tab label="{{'Local' | localize}}">
        <div>
          <app-events-table
            [showMore]="true"
            [limit]="3"
            [category]="'local'"
            [displayedColumns$]="displayedColumnsUpcoming$">
          </app-events-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div>
    <h4>
      <a routerLink="/past"><mat-icon>table_chart</mat-icon>{{'Results' | localize}}</a>
    </h4>
    <mat-tab-group class="mat-elevation-z2">
      <mat-tab label="{{'Events' | localize}}">
        <div>
          <app-events-table
            [category]="'past'"
            [showMore]="true"
            [limit]="5"
            [displayedColumns$]="eventsColumnsPast$">
          </app-events-table>
        </div>
      </mat-tab>

      <mat-tab label="{{'Round Stats' | localize}}">
        <div>
          <app-rounds-table
            [showMore]="true"
            [limit]="5"
            [displayedColumns$]="roundsColumnsPast$">
          </app-rounds-table>
        </div>
      </mat-tab>
      <mat-tab label="{{'Videos' | localize}}">
        <div>
          <app-videos-table
            [limit]="5"
            [showMore]="true">
          </app-videos-table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
