<mat-card>
  <img mat-card-image
    src="assets/img/japanopen2021.png"
    alt="Japan Open Disc Golf Tournament 2021">
  <mat-card-header>
    <mat-card-title>Japan Open returns to</mat-card-title>
    <mat-card-subtitle>Sakai City, Fukui, May 18-21, 2021.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <div class="my-align action-item">
      <mat-icon>public</mat-icon>Official site:
      <a href="http://japanopen.info" target="_blank" rel="noopener">
        <div class="my-align">Japanopen.info</div>
      </a>
    </div>
    <div class="my-align action-item">
      <mat-icon>place</mat-icon>Location:
      <a href="{{geolocation}}" target="_blank" rel="noopener">
        <div class="my-align">Fukui Country Club</div>
      </a>
    </div>
  </mat-card-actions>

  <div class="video-lib">
    <app-videos-table class="video-table mat-elevation-z2"
      [showSearch]="false"
      [pageSizeOptions]=[5]
      [dataSource]="videosSource">
    </app-videos-table>
  </div>
</mat-card>
