/* .monthly-list-box,  */
.monthly-map-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
}

.monthly-list-box {
  /* height: 100px; */
  /* width: 100vw; */
}

.monthly-map-box {
  height: 80vh;
  width: 90vw;
}

.full-width-table {
  width: 100%;
}
