/* .monthly-list-box,  */
.monthly-map-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
}

.monthly-list-box {
  /* height: 100px; */
  /* width: 100vw; */
}

.monthly-map-box {
  height: 80vh;
  width: 90vw;
}

.full-width-table {
  width: 100%;
}
table {
  width: 100%;
}
tr.event-detail-row {
  height: 0;
}
tr.event-element-row:not(.event-expanded-row):hover {
  background: lightgray;
}
tr.event-element-row:not(.event-expanded-row):active {
  background: #efefef;
}
.event-element-row td {
  border-bottom-width: 0;
}
.event-element-detail {
  overflow: hidden;
  display: flex;
}
.event-element-detail a {
  margin: 0;
  padding: 0 8px;
}
