<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      {{'Preface' | localize}}
    </mat-expansion-panel-header>
    <article class="app-preface">
      @if (isGlobal) {
        <section>
          The DG Japan is a database for disc golf events in Japan.
        </section>
        <p class="footer">Shizuoka Disc Golf Association</p>
        <h2>Apps presented by Shizuoka DGA</h2>
        <ul>
          <li><a href="https://jpdga-shizuoka.github.io/rules">PDGA's Official Rules of Disc Golf (Not official)</a></li>
          <li><a href="https://jpdga-shizuoka.github.io/maps">Caddie Book Japan</a></li>
          <li><a href="https://jpdga-shizuoka.github.io/ssa-round-ratings">DG Japan (this web site)</a></li>
        </ul>        
      } @else {
        <section>
          DG Japanは,
          日本で開催されるディスクゴルフ大会情報を収集した,
          ディスクゴルフ専用データーベースです.
        </section>
        <p class="footer">静岡県ディスクゴルフ協会</p>
        <h2>For foreign readers</h2>
        <p>
          Tap a button [文A] at upper-right corner to change text to English.
          <img class="fit-picture" src="assets/img/english.png" alt="Tap the button to change text to English">
        </p>
        <h2>静岡県協会アプリ御三家</h2>
        <ul>
          <li><a href="https://jpdga-shizuoka.github.io/rules">PDGAのディスクゴルフ公式規則 (非公式)</a></li>
          <li><a href="https://jpdga-shizuoka.github.io/maps">Caddie Book Japan (コースマップ集)</a></li>
          <li><a href="https://jpdga-shizuoka.github.io/ssa-round-ratings">DG Japan (本アプリ)</a></li>
        </ul>        
      }
    </article>
  </mat-expansion-panel>
</mat-accordion>
