.mat-elevation-z8 h4 {
  margin: 0;
  padding-top: 5px;
  padding-left: 5px;
}
.event-search {
  padding: 10px 0 0 25px;
}
.full-width-table {
  width: 100%;
}
table {
  width: 100%;
}
tr.round-detail-row {
  height: 0;
}
tr.round-element-row:not(.round-expanded-row):hover {
  background: lightgray;
}
tr.round-element-row:not(.round-expanded-row):active {
  background: #efefef;
}
.round-element-row td {
  border-bottom-width: 0;
}
.round-element-detail {
  overflow: hidden;
  display: flex;
}
.round-element-detail a {
  margin: 0;
  padding: 0 8px;
}
.ratings-tools {
  display: flex;
}
.ratings-tools-spacer {
  flex: 1 1 auto;
}
.ratings-tools-checkbox {
  display: flex;
  align-content: center;
  align-items: center;
}
.ratings-tools-checkbox mat-checkbox {
    padding: 0 10px;
    font-size: small;
}
.rssa-section {
  display: flex;
  align-content: center;
  align-items: center;
  /* height: 60px; */
  font-size: small;
}
.rssa-margin {
  margin: 0 10px;
}
@media (max-width: 400px) {
  .full-width-table th,
  .full-width-table td {
    padding: 0 2.5px;
  }
  .full-width-table td.mat-cell:first-of-type,
  .full-width-table td.mat-footer-cell:first-of-type,
  .full-width-table th.mat-header-cell:first-of-type {
    padding-left: 10px;
  }
  .full-width-table td.mat-cell:last-of-type,
  .full-width-table td.mat-footer-cell:last-of-type,
  .full-width-table th.mat-header-cell:last-of-type {
    padding-right: 10px;
  }
}
