<table class='round-detail'>
  <tbody>
    <tr>
      <td>Date:</td>
      <td><mat-icon>calendar_today</mat-icon>{{getDate()}}</td>
    </tr>
    <tr>
      <td>Location:</td>
      <td class="flex-container">
        <div>
          <a href="{{getGeolocation()}}">
            <mat-icon>room</mat-icon>{{getLocationName()}}
          </a>
        </div>
        <div>
          <mat-icon>public</mat-icon>{{getPrefecture()}}
        </div>
      </td>
    </tr>
    <tr>
      <td>Round:</td>
      <td><mat-icon>golf_course</mat-icon>{{getRoundStatus()}}</td>
    </tr>
    <tr>
      <td>SSA Range:</td>
      <td><mat-icon>format_list_numbered_rtl</mat-icon>{{getSRCText()}}</td>
    </tr>
    <tr>
      <td>info:</td>
      <td>
        <div class="flex-container">
          <ng-template ngFor let-misc [ngForOf]="getMiscInfo()">
            <a href="{{misc.url}}" class="detail-link">
              <mat-icon>{{misc.icon}}</mat-icon>{{misc.title}}
            </a>
          </ng-template>
        </div>
      </td>
    </tr>
    <tr>
      <td>Equation:</td>
      <td><mat-icon>trending_up</mat-icon>{{getEquation()}}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <mat-form-field class="equation-args">
          <input matInput type="number" placeholder="Rating" inputmode="numeric"
            [(ngModel)]="rating"
            (input)="onRatingChanged()">
        </mat-form-field>
        <mat-form-field class="equation-args">
          <input matInput type="number" placeholder="Score" inputmode="numeric"
            [(ngModel)]="score"
            (input)="onScoreChanged()">
        </mat-form-field>
      </td>
    </tr>
  </tbody>
</table>
