.round-detail td {
  padding-bottom: 10px;
}
.round-detail td:first-child {
  vertical-align: top;
  text-align: right;
  font-weight: bold;
  min-width: 6rem;
}
.history-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: pointer;
}
.detail-link {
  margin-bottom: 7px;
}
.equation-args {
  margin-right: 1.5em;
  max-width: 6em;
}
.round-detail mat-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin: 0 5px;
}
@media (max-width: 414px) {
  .round-detail {
    font-size: small;
  }
  .round-detail mat-icon {
    font-size: 15px;
    height: 15px;
    width: 15px;
  }
  .round-detail td:first-child {
    min-width: 5rem;
  }
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.flex-container>* {
  flex: auto;
}
