<table class='round-detail'>
  <tbody>
    <tr>
      <td>{{'Date' | localize}}:</td>
      <td>{{round.date | period}}</td>
    </tr>
    <tr>
      <td>{{'Location' | localize}}:</td>
      <td>
        <a href="{{location?.geolocation | geolink}}" target="_blank" rel="noopener">
          {{location?.title | localize}},{{location?.prefecture | localize}}
        </a>
      </td>
    </tr>
    <tr *ngIf="totalPlayers">
      <td>{{'Players' | localize}}:</td>
      <td>{{totalPlayers}}</td>
    </tr>
    <tr>
      <td>{{'Round' | localize}}:</td>
      <td>{{roundStatus}}</td>
    </tr>
    <tr *ngIf="showHistory">
      <td>{{'History' | localize}}:</td>
      <td>
        <a routerLink="/past" [queryParams]="{search: title}">
          {{'See the Past Results' | localize}}
        </a>
      </td>
    </tr>
    <tr>
      <td>{{'Info' | localize}}:</td>
      <td>
        <div class="info-container">
          <ng-template ngFor let-misc [ngForOf]="miscInfo">
            <a href="{{misc.url}}" class="detail-link" target="_blank" rel="noopener">
              {{misc.title}}
            </a>
          </ng-template>
        </div>
      </td>
    </tr>
    <tr *ngIf="round.ssa">
      <td>SSA:</td>
      <td>{{round.ssa|number:'1.1-1'}}, Category {{round.category}}</td>
    </tr>
    <tr *ngIf="round.ssa">
      <td>{{'Equation' | localize}}:</td>
      <td>{{equation}}</td>
    </tr>
    <tr *ngIf="round.ssa">
      <td></td>
      <td>
        <mat-form-field class="equation-args">
          <input matInput type="number" placeholder="Rating" inputmode="numeric"
            [(ngModel)]="rating"
            (input)="onRatingChanged()">
        </mat-form-field>
        <mat-form-field class="equation-args">
          <input matInput type="number" placeholder="Score" inputmode="numeric"
            [(ngModel)]="score"
            (input)="onScoreChanged()">
        </mat-form-field>
      </td>
    </tr>
  </tbody>
</table>
