<table class='round-detail'>
  <tbody>
    <tr>
      <td>Date:</td>
      <td>{{detail.date}}</td>
    </tr>
    <tr>
      <td>Country:</td>
      <td>{{detail.country}}, {{detail.continent}}</td>
    </tr>
    <tr>
      <td>Round:</td>
      <td>{{detail.holes}}holes @ {{detail.round}}</td>
    </tr>
    <tr>
      <td>Equation:</td>
      <td>
        Rating = {{detail.weight.toFixed(1)}} * Score + {{detail.offset.toFixed(0)}}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <mat-form-field class="equation-args">
          <input matInput type="number" placeholder="Rating" inputmode="numeric"
            [(ngModel)]="rating"
            (input)="onRatingChanged()">
        </mat-form-field>
        <mat-form-field class="equation-args">
          <input matInput type="number" placeholder="Score" inputmode="numeric"
            [(ngModel)]="score"
            (input)="onScoreChanged()">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>SSA Range:</td>
      <td>
        <a mat-button color="primary"
          href="https://www.pdga.com/ratings/top-10-best-rounds-ever-5-ssa-ranges-men-women">
          Category {{detail.category}}<mat-icon>launch</mat-icon>
        </a>
      </td>
    </tr>
    <tr>
      <td>Info:</td>
      <td>
        <a *ngIf="detail.jpdga" mat-button color="primary"
          href="http://www.jpdga.jp/event.php?tno={{detail.jpdga}}">
          JPDGA<mat-icon>launch</mat-icon>
        </a>
      </td>
    </tr>
    <tr>
      <td>Results:</td>
      <td>
        <a *ngIf="detail.jpdga" mat-button color="primary"
          href="http://www.jpdga.jp/result.php?tno={{detail.jpdga}}">
          JPDGA<mat-icon>launch</mat-icon>
        </a>
        <a mat-button color="primary"
          href="https://www.pdga.com/tour/event/{{detail.id}}">
          PDGA<mat-icon>launch</mat-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>
