<h1 mat-dialog-title>
  {{location?.title | localize}}, {{location?.prefecture | localize}}
</h1>
<div mat-dialog-content *ngIf="showList">
  <mat-nav-list>
    <mat-list-item *ngFor="let event of data.events">
      <span>{{event | localize | titlecase}}</span>
      <span class="spacer"></span>
      <button mat-stroked-button [mat-dialog-close]="event" *ngIf="showEventBotton">
        {{'Detail' | localize}}
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
<div mat-dialog-actions *ngIf="showDialogBotton">
  <span class="spacer"></span>
  <button mat-button [mat-dialog-close]="data.location">
    {{'Detail' | localize}}
  </button>
</div>
