<div class="video-view">
  <div *ngIf="isYoutubeVideo; else facebookVideo">
    <div class="yt-view">
      <youtube-player
        [videoId]="videoId"
        [width]="width"
        [height]="height">
      </youtube-player>
    </div>
  </div>
  <ng-template #facebookVideo>
    <div class="fb-view">
      <h1>
        <a href="{{video.url}}" target="_blank" rel="noopener">
          <mat-icon>play_circle_filled</mat-icon>
          {{facebookLink}}
          <mat-icon>launch</mat-icon>
        </a>
      </h1>
    </div>
  </ng-template>
  <div>
    <p>{{title}}</p>
    <h3>
      {{eventTitle(event)}}
    </h3>
    <p *ngIf="isMobile">{{year}}</p>
  <div>
</div>
