<div class="video-view">
  <div *ngIf="isYoutubeVideo; else facebookVideo">
    <div class="yt-view">
      <youtube-player #player
        [videoId]="videoId"
        [width]="width"
        [height]="height"
        (ready)="onReady()"
        (stateChange)="onStateChange($event)">
      </youtube-player>
    </div>
  </div>
  <ng-template #facebookVideo>
    <div class="fb-view">
      <h1>
        <a href="{{video.url}}" target="_blank" rel="noopener">
          <span>
            <mat-icon>play_circle_filled</mat-icon>
            {{'Playback by Facebook' | localize}}
          </span>
        </a>
      </h1>
    </div>
  </ng-template>
  <div>
    <p>{{title}}</p>
    <h3>
      {{event | localize}}
    </h3>
    <p>{{year}}</p>
  <div>
</div>
