.app-main {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.sidenav-container {
  height: 100%;
}
.mat-drawer-container {
  background-color: transparent;
}
.sidenav mat-icon {
  padding-right: 16px;
}
.sidenav {
  width: 250px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}
.title-spacer {
    flex: 1 1 auto;
}
.footer {
  margin-top: 5px;
  font-size: small;
  color: gray;
  background-color: transparent;
}
.footer-title {
    text-align: center;
    flex: 1 1 auto;
}
.menu-active {
  background-color: #efe5fd;
}
#menu-header {
  background-image: url("../assets/img/menu-back-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}
#menu-header span {
  flex: 1 1 auto;
}
#toolbar-title {
  margin-left: 12px;
}
.toolbar-back {
  background-image: url("../assets/img/title-back-image.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-header-high {
  height: 64px;
}
.menu-header-low {
  height: 56px;
}
