<mat-toolbar class="titlebar" color="primary">
  <span>SSA Round Ratings</span>
  <span class="title-spacer"></span>
  <span class="title-button-row">
    <button mat-icon-button aria-label="toggle language" (click)="onClickLanguage()">
      <mat-icon>translate</mat-icon>
    </button>
  </span>
</mat-toolbar>

<div class='course-ratings'>
  <app-course-ratings></app-course-ratings>
</div>

<mat-toolbar class="footer">
  <span class="footer-title">
    Copyright © 2019 <a href="https://jpdga-shizuoka.github.io/home/">SHIZUOKA@JPDGA</a>
  </span>
</mat-toolbar>
