<table class='event-detail mat-table full-width-table'>
  <tbody>
    <tr class="element-row mat-row" *ngIf="showMonthly$ | async">
      <td class="mat-cell">{{'Month' | localize}}</td>
      <td class="mat-cell">{{event.schedule | schedule:'month'}}</td>
    </tr>
    <tr class="element-row mat-row">
      <td class="mat-cell">{{'Course' | localize}}</td>
      <td class="mat-cell info-container">
        <div *ngIf="location$ | async as location">
          <div *ngIf="location.weather; else noWeather">
            <a href="{{location?.geolocation | geolink}}" target="_blank" rel="noopener">
              {{location.title | localize}}, {{location.prefecture | localize}}
            </a>
            <a href="{{location.weather}}" target="_blank" rel="noopener">
              {{"Weather" | localize}}&#9728;
            </a>
          </div>
          <ng-template #noWeather>
            <a href="{{location?.geolocation | geolink}}" target="_blank" rel="noopener">
              {{location.title | localize}}, {{location.prefecture | localize}}
            </a>
          </ng-template>
        </div>
      </td>
    </tr>
    <tr class="element-row mat-row" *ngIf="miscInfo.length">
      <td class="mat-cell">{{'Info' | localize}}</td>
      <td class="mat-cell">
        <div class="info-container">
          <ng-template ngFor let-info [ngForOf]="miscInfo">
            <a href="{{info.url}}" class="detail-link" target="_blank" rel="noopener">
              {{info.title | localize}}
            </a>
          </ng-template>
        </div>
      </td>
    </tr>
    <tr class="element-row mat-row" *ngIf="!isMonthly">
      <td class="mat-cell">iCalendar</td>
      <td class="mat-cell">
        <app-icalendar [event]="event"></app-icalendar>
      </td>
    </tr>
  </tbody>
</table>
