.event-detail td {
  padding-bottom: 10px;
}
.event-detail td:first-child {
  vertical-align: top;
  text-align: right;
  font-weight: bold;
  min-width: 6rem;
}
.detail-link {
  margin-bottom: 7px;
}
.event-detail mat-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin: 0 5px;
}
.info-container > a:not(:last-child) {
  margin-right: 10px;
}
@media (max-width: 414px) {
  .event-detail {
    font-size: small;
  }
  .event-detail mat-icon {
    font-size: 15px;
    height: 15px;
    width: 15px;
  }
  .event-detail td:first-child {
    min-width: 5rem;
  }
}
