<h4>
  <a (click)="back()">
    <mat-icon>arrow_back</mat-icon>{{title}}
  </a>
</h4>
<mat-tab-group class="mat-elevation-z2" dynamicHeight
  [(selectedIndex)]="selectedTab">

  <mat-tab label="{{tableTitle}}">
    <div>
      <app-rounds-table
        [dataSource]="roundsSource"
        [displayedColumns$]="displayedColumns$"
        [markerSelected$]="markerSelected">
      </app-rounds-table>      
    </div>
  </mat-tab>

  <mat-tab label="{{videos}}">
    <app-videos-table
      [dataSource]="videosSource">
    </app-videos-table>
  </mat-tab>

  <mat-tab label="{{mapTitle}}">
    <app-events-map
      category="past"
      [mapSource$]="mapSource$"
      (markerSelected)="onMarkerSelected($event)">
    </app-events-map>
  </mat-tab>
</mat-tab-group>
