<mat-tab-group dynamicHeight [(selectedIndex)]="selectedTab">
  <mat-tab label="{{tableTitle}}">
    <!-- <ng-template matTabContent> -->
      <div class="mat-elevation-z4">
        <app-rounds-table
          [dataSource]="tableSource"
          [displayedColumns$]="displayedColumns$"
          [markerSelected$]="markerSelected">
        </app-rounds-table>
      </div>
    <!-- </ng-template> -->
  </mat-tab>

  <mat-tab label="{{mapTitle}}">
    <!-- <ng-template matTabContent> -->
      <div class="mat-elevation-z4">
        <app-events-map
          category="past"
          [mapSource$]="mapSource$"
          (markerSelected)="onMarkerSelected($event)">
        </app-events-map>
      </div>
    <!-- </ng-template> -->
  </mat-tab>
</mat-tab-group>
