<mat-tab-group class="mat-elevation-z2 app-container" dynamicHeight
  [(selectedIndex)]="selectedTab">

  <mat-tab label="{{tableTitle | localize}}">
    <div>
      <app-rounds-table
        [displayedColumns$]="displayedColumns$"
        [markerSelected$]="markerSelected">
      </app-rounds-table>
    </div>
  </mat-tab>

  <mat-tab label="{{'Videos' | localize}}">
    <div>
      <app-videos-table category="past">
      </app-videos-table>
    </div>
  </mat-tab>

  <mat-tab label="{{mapTitle | localize}}">
    <ng-template matTabContent>
      <app-events-map category="past"
        (markerSelected)="onMarkerSelected($event)">
      </app-events-map>
    </ng-template>
  </mat-tab>
</mat-tab-group>
