.app-libraries {
    margin: 0;
    padding: 20px;
    background-color: white;
}
.app-libraries a[href^="http"] {
    display: inline-block;
    background: url("../../assets/img/open_in_new-24px.svg") no-repeat right center;
    background-size: 1rem 1rem;
    padding-right: 1.1rem;
}  
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
}
table, th, td {
    border: 1px solid;
}
tr:nth-child(even){background-color: #f2f2f2}
#table2 table {
    min-width: 60em;
}
#table3 table {
    width: 31em;
}
#table4 table {
    min-width: 40em;
}

#table2 table th {
    min-width: 6em;
}
#table3 table th {
    min-width: 5em;
}
#table4 table th {
    min-width: 5em;
}
.app-table {
    overflow-x: auto;
}
s {
    text-decoration-thickness: 0.2rem;
    color: #555;
}
ins {
    background-color: #d4fcbc;
    text-decoration: none;
}
blockquote {
    border-left: 4px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    background-color: #f9f9f9;
    font-style: italic;
    color: #555;
}
blockquote p {
    margin: 0;
    padding: 0;
}
#ipg-p1-c11 table {
    min-width: 50em;
    font-size: 0.9em;
}
#ipg-p1-c12 table {
    min-width: 60em;
    font-size: 0.9em;
}
#ipg-p2-c17 table {
    min-width: 50em;
    font-size: 0.9em;
}
#ipg-p2-c20A table {
    min-width: 40em;
    font-size: 0.9em;
}
#ipg-p2-c20B table {
    min-width: 40em;
    font-size: 0.9em;
}
#ipg-p3-ab table {
    min-width: 40em;
    font-size: 0.8em;
}
