.app-libraries {
    margin: 0;
    padding: 20px;
    background-color: white;
}
table,
th,
td {
    border: 1px solid;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    border: 1px solid #ddd;
}
tr:nth-child(even){background-color: #f2f2f2}
table#sec8 {
    width: 100%;
    min-width: 1000px;
    display: block;
}
