<table class="terms-table">
  <tbody>
    <tr>
      <td>SSA</td>
      <td *ngIf="primaryLanguage">
        Your PDGA Player Rating (PR) is a number that shows how close your
        average round scores are compared to the course rating,
        called the <span>SSA (Scratch Scoring Averages</span>,
        of the courses you’ve played in competition.
        Players who average the SSA on courses played will have a rating of
        1000 and are considered “scratch players”.
        A player who averages scores lower than SSAs on course they’ve
        played will have a rating over 1000.
        <a href="https://www.pdga.com/tags/ssa">Excerpt from the PDGA</a>
      </td>
      <td *ngIf="!primaryLanguage">
        仮にプレーヤー•レーティングが1000の仮想プレーヤーが,
        当該コースをラウンドした際に期待されるラウンド•スコアを,
        <span>SSA (Scratch Scoring Averages)</span> と呼ぶ.
        よってSSAを下回るスコアでラウンドしたプレーヤーのラウンド•レーティングは,
        1000点を超える.
        一般的に試合コースにはコース•ディレクターが設定する合計パーがあるが,
        SSAは,
        その試合に参加するプレーヤー全員のプレーヤー•レーティングから,
        統計的に求めた合計パーと言える.
        <a href="https://www.pdga.com/tags/ssa">PDGAの説明参照</a>
      </td>
    </tr>
    <tr>
      <td>HLA</td>
      <td *ngIf="primaryLanguage">
        Average Length of Holes of a course
      </td>
      <td *ngIf="!primaryLanguage">
        当該コースの平均ホール長
      </td>
    </tr>
  </tbody>
</table>