.terms-table {
  width: 100%;
}
.terms-table {
  border-top: 1px lightgray solid;
}
.terms-table td {
  padding: 10px;
}
.terms-table td:first-child {
  font-weight: bold;
  min-width: 4rem;
  text-align: center;
}
tr.element-row:hover {
  background: whitesmoke;
}
tr.element-row:active {
  background: #efefef;
}
td span {
  font-weight: bold;
}
