.terms-table {
  width: 100%;
}
.terms-table td {
  padding: 10px;
  border-color: collapse;
  border-bottom: 1px lightgray solid;
}
.terms-table td:first-child {
  font-weight: bold;
  min-width: 4rem;
  text-align: center;
}
