<table class="terms-table full-width-table mat-table" aria-label="Elements">
  <tbody>
    <tr class="element-row mat-row">
      <td class="mat-cell">SSA</td>
      <td class="mat-cell" *ngIf="primaryLanguage">
        Your PDGA Player Rating (PR) is a number that shows how close your
        average round scores are compared to the course rating,
        called the <span>SSA (Scratch Scoring Averages</span>,
        of the courses you’ve played in competition.
        Players who average the SSA on courses played will have a rating of
        1000 and are considered “scratch players”.
        A player who averages scores lower than SSAs on course they’ve
        played will have a rating over 1000.
        <a href="https://www.pdga.com/tags/ssa">Excerpt from the PDGA</a>
      </td>
      <td class="mat-cell" *ngIf="!primaryLanguage">
        プレーヤー•レーティングが1000の仮想プレーヤーが,
        当該コースをラウンドした際に期待されるラウンド•スコアを,
        <span>SSA (Scratch Scoring Averages)</span> と呼ぶ.
        よってSSAを下回るスコアでラウンドしたプレーヤーのラウンド•レーティングは,
        1000点を超える.
        一般的に試合コースにはコース•ディレクターが設定する合計パーがあるが,
        SSAは,
        その試合に参加するプレーヤー全員のプレーヤー•レーティングから,
        統計的に求めた合計パーと言える.
        <a href="https://www.pdga.com/tags/ssa">PDGAの説明参照</a>
      </td>
    </tr>
    <tr class="element-row mat-row">
      <td class="mat-cell">HLA</td>
      <td class="mat-cell" *ngIf="primaryLanguage">
        Average Length (meter) of Holes of a course
      </td>
      <td class="mat-cell" *ngIf="!primaryLanguage">
        当該コースの平均ホール長(メートル)
      </td>
    </tr>
    <tr class="element-row mat-row">
      <td class="mat-cell">TD</td>
      <td class="mat-cell" *ngIf="primaryLanguage">
        The difficulty of the course increases simply by increasing the distance.
        <span>TD (Technical Difficulty)</span> is one of difficulties excluding the difficulty due to the distance,
        which is calculated according to the following equation;
        <span>TD = SSA / HLA * 10;</span>
      </td>
      <td class="mat-cell" *ngIf="!primaryLanguage">
        コースの難度は単純に距離を伸ばせば上がるが,
        その距離による難度を排した技術的な難度を表す指標として,
        以下の方程式に従い算出した数値;<br/>
        <span>TD = SSA / HLA * 10;</span>
      </td>
    </tr>
  </tbody>
</table>