<div class="app-container">
  <div *ngIf="event$ | async as event">
    <h1>{{event?.title | localize}}</h1>
    <table class="mat-elevation-z1">
      <tbody>
        <tr class="element-row">
          <td>{{'Date' | localize}}</td>
          <td>
            <div *ngIf="showCalendar(event); else noCalendar">
              <div *ngIf="location$ | async as location">
                <div *ngIf="location.weather; else noWeather">
                  {{event?.period | period}}
                  <a href="{{location.weather}}" target="_blank" rel="noopener">
                    {{"Weather" | localize}}&#9728;
                  </a>
                </div>
                <ng-template #noWeather>
                  {{event?.period | period}}
                </ng-template>
              </div>
            </div>
            <ng-template #noCalendar>
              <div *ngIf="location$ | async as location">
                {{event?.period | period}}
              </div>
            </ng-template>
            <span *ngIf="canceled" class="canceled">CANCELED</span>
          </td>
        </tr>

        <tr class="element-row" *ngIf="showCalendar(event)">
          <td>iCalendar</td>
          <td>
            <app-icalendar [event]="event"></app-icalendar>
          </td>
        </tr>
        
        <tr class="element-row">
          <td>{{'Course' | localize}}</td>
          <td>
            <div *ngIf="location$ | async as location">
              <a href="{{location | geolink}}" target="_blank" rel="noopener">
                {{location.title | localize}}, {{location.prefecture | localize}}
              </a>
            </div>
          </td>
        </tr>

        <tr class="element-row" *ngIf="layouts.length">
          <td>{{'Layouts' | localize}}</td>
          <td>
            <ng-template ngFor let-info [ngForOf]="layouts">
              <a href="{{info.url}}" class="detail-link" target="_blank" rel="noopener">
                {{info.title | localize}}
              </a>
            </ng-template>
          </td>
        </tr>
        
        <tr class="element-row" *ngIf="totalPlayers && !canceled">
          <td>{{'Partícipant' | localize}}</td>
          <td>{{totalPlayers}}</td>
        </tr>
    
        <tr class="element-row" *ngIf="pdgaInfo.length && !canceled">
          <td>PDGA</td>
          <td class="info-container">
            <ng-template ngFor let-info [ngForOf]="pdgaInfo">
              <a href="{{info.url}}" class="detail-link" target="_blank" rel="noopener">
                {{info.title | localize}}
              </a>
            </ng-template>
          </td>
        </tr>
    
        <tr class="element-row" *ngIf="jpdgaInfo.length && !canceled">
          <td>JPDGA</td>
          <td class="info-container">
            <ng-template ngFor let-info [ngForOf]="jpdgaInfo">
              <a href="{{info.url}}" class="detail-link" target="_blank" rel="noopener">
                {{info.title | localize}}
              </a>
            </ng-template>
          </td>
        </tr>

        <tr class="element-row" *ngIf="event.budget">
          <td>
            <a routerLink="/about">
              {{'Pro Purse' | localize}}
            </a>
          </td>
          <td>
              {{roundUnderThousand(event.budget.totalprize) | currency:'JPY':'symbol':'1.0-0'}}
              ({{event.budget.prizeratio * 100 | number:'1.0-0'}}%,
              {{event.budget.paidratio * 100 | number:'1.0-0'}}%)<br>
              {{getStars(event)}}
          </td>
        </tr>
    
        <tr class="element-row" *ngIf="miscInfo.length">
          <td>{{'Info' | localize}}</td>
          <td class="info-container">
            <ng-template ngFor let-info [ngForOf]="miscInfo">
              <a href="{{info.url}}" class="detail-link" target="_blank" rel="noopener">
                {{info.title | localize}}
              </a>
            </ng-template>
          </td>
        </tr>
      </tbody>
  </table>

  </div>

  <div *ngIf="roundList$ | async as list">
    <h2>{{'Stats' | localize}}</h2>
    <app-round-list [list]="list">
    </app-round-list>
  </div>

  <div *ngIf="videoInfo.length">
    <h2>{{'Videos' | localize}}</h2>
    <app-video-list [list]="videoInfo">
    </app-video-list>
  </div>

  <div *ngIf="photoInfo.length">
    <h2>{{'Photos' | localize}}</h2>
    <app-photo-list [list]="photoInfo">
    </app-photo-list>
  </div>

  <div *ngIf="event$ | async as event">
    <h2>{{'History' | localize}}</h2>
    <app-event-list [event]="event"></app-event-list>
  </div>

  <div *ngIf="roundList$ | async">
    <h2>{{'Difficulty' | localize}}</h2>
    <app-difficulty-chart [eventId]="eventId">
    </app-difficulty-chart>
  </div>
</div>