h1 {
  font-size: 1rem;
}
h2 {
  font-size: 0.9rem;
}
h1, h2 {
  padding: 1rem 1.5rem;
  margin: 0;
}
li {
  padding-left: 2rem;
}
table {
  width: 100%;
}
tr.element-row:hover {
  background: whitesmoke;
}
tr.element-row:active {
  background: #efefef;
}
table td {
  padding: 5px 10px;
  font-size: 13px;
}
table td:first-child {
  font-weight: bold;
  min-width: 4rem;
  text-align: center;
}
.canceled {
  color: red;
  font-weight: bolder;
}
.info-container > a:not(:last-child) {
  margin-right: 10px;
}