<div class="app-container">
  <table>
    <tbody>
      <tr>
        <td>{{'Course' | localize}}:</td>
        <td class="info-container">
          <a href="{{location$ | async | geolink}}" target="_blank" rel="noopener">
            {{(location$ | async).title | localize}}, {{(location$ | async).prefecture | localize}}
          </a>
          <a href="{{layout}}" target="_blank" rel="noopener" *ngIf="layout">
            {{"Caddie book" | localize}}
          </a>
        </td>
      </tr>

      <tr *ngIf="pdgaInfo.length">
        <td>PDGA:</td>
        <td>
          <div class="info-container">
            <ng-template ngFor let-info [ngForOf]="pdgaInfo">
              <a href="{{info.url}}" class="detail-link" target="_blank" rel="noopener">
                {{info.title | localize}}
              </a>
            </ng-template>
          </div>
        </td>
      </tr>

      <tr *ngIf="jpdgaInfo.length">
        <td>JPDGA:</td>
        <td>
          <div class="info-container">
            <ng-template ngFor let-info [ngForOf]="jpdgaInfo">
              <a href="{{info.url}}" class="detail-link" target="_blank" rel="noopener">
                {{info.title | localize}}
              </a>
            </ng-template>
          </div>
        </td>
      </tr>

      <tr *ngIf="miscInfo.length">
        <td>{{'Info' | localize}}:</td>
        <td>
          <div class="info-container">
            <ng-template ngFor let-info [ngForOf]="miscInfo">
              <a href="{{info.url}}" class="detail-link" target="_blank" rel="noopener">
                {{info.title | localize}}
              </a>
            </ng-template>
          </div>
        </td>
      </tr>

      <tr>
        <td>{{'History' | localize}}:</td>
        <td>
          <a routerLink="/past" [queryParams]="{search: title}" class="detail-link">
            {{'See the Past Results' | localize}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>