<table class='event-detail'>
  <tbody>
    <tr *ngIf="isHandset$ | async">
      <td>Month:</td>
      <td>{{monthlySchedule}}</td>
    </tr>
    <tr>
      <td>Location:</td>
      <td>
        <a href="{{getGeolocation()}}">
          <mat-icon>room</mat-icon>{{getLocationName()}}
        </a>
      </td>
    </tr>
    <tr>
      <td>Info:</td>
      <td>
        <div class="flex-container">
          <ng-template ngFor let-misc [ngForOf]="getMiscInfo()">
            <a href="{{misc.url}}" class="detail-link">
              <mat-icon>{{misc.icon}}</mat-icon>{{misc.title}}
            </a>
          </ng-template>
        </div>
      </td>
    </tr>
  </tbody>
</table>
