@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  background: repeat url("./assets/img/background.png");
  background-size: 30px 30px;
}
.my-align {
  display: inline-flex;
  vertical-align: middle;
}
.my-align mat-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.mat-spinner {
  position: fixed;
  top: 0;
  left: calc(50% - 50px);
}
a {
  text-decoration: none;
}
a[target="_blank"] {
  display: inline-block;
  background: url("assets/img/open_in_new-24px.svg") no-repeat right center;
  background-size: 1.2rem 1.2rem;
  padding-right: 1.3rem;
}
a[href^="https://maps.google"],
a[href^="http://maps.apple"] {
  display: inline-block;
  background: url("assets/img/room-24px.svg") no-repeat right center;
  background-size: 1.2rem 1.2rem;
  padding-right: 1.3rem;
}
.mat-drawer-container {
  background-color: transparent;
}
.app-container > * {
  background-color: #fafafa;
}
.app-container {
  margin-top: 6px;
}
