table {
    width: 100%;
}
tr.element-row:hover {
    background: whitesmoke;
}
tr.element-row:active {
    background: #efefef;
}
table td {
    padding: 5px 10px;
    font-size: 13px;
}
table td:first-child {
    font-weight: bold;
    text-align: center;
}
